.habitant-form {
  width: 500px;
  margin-left: 20px;
  margin-top: 10px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.title {
  font-size: 19px;
  font-weight: 700;
}

.title-add {
  display: flex;
}

.flex {
  display: flex;
}

.mb {
  margin-bottom: 10px;
}

.mt {
  margin-top: 10px;
}

.mr {
  margin-right: 10px;
}

.ml {
  margin-left: 10px;
}

label {
  margin-right: 10px;
}

.bl {
  align-items: baseline;
}
