.title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 10px;
}

.mt {
  margin-top: 10px;
}

.nav {
  background-color: #eee;
  padding: 10px;
}

.nav li {
  cursor: pointer;
}
